
@font-face {
	font-family: Roboto;
	src: url("font/Roboto-Regular.ttf");
}
@font-face {
	font-family: Ubuntu;
	src: url("font/Ubuntu-R.ttf");
}

* {
	margin: 0; padding: 0;	
}

body {
	font-family: Ubuntu;
	font-size: 12px;
	color: #8fb28f;
	background-color: #1f1f1f;
}

a {
	padding: 0px;
	color : #bfebbf;
}
a:hover {
	color : #fff;
}

img {
	border: 4px #000 solid;
}

ul {
	margin-left: 20px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 6px 8px 6px 8px;
	background-color: #fff;
	color: #1f1f1f;
	box-shadow: 0px 0px 12px rgba(0,0,0,.8);
}
#header a {
	color: #1f1f1f;
}

.recent-posts {
	margin-top: 20px;
}
.recent-posts .post {
	padding: 20px 0px 20px 30px;
	width: 600px;
}
.recent-posts .post .title {
	font-size: 24px;
	color: #dca3a3;
}
.recent-posts .post .meta {
	font-size: 10px;
	color: #5f5f5f;
}
.recent-posts .post .content {
	padding-top: 10px;
	padding-left: 20px;
}


.rss {
	background-image: url("img/rss.png");
}
