<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<meta name="description" content="Panzerkunst">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta name="author" content="disktree.net">
<meta name="publisher" content="disktree.net">
<title>{{ page.title }}</title>
<link rel="icon" href="/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/css/disktree.css">
<link rel="stylesheet" href="/css/code.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/blog.js"></script>
<script type="text/javascript">$(document).ready(function(){Blog.init();});
</script>
</head>
<body>
<div id="header">
	<a href="/">DISKTREE.NET // PANZERKUNST</a>
	<a href="http://jabber.spektral.at/roar/">ROAR</a>
	<a class="rss" href="/atom.xml">SYNDICATE</a>
</div>
<div id="content">{{ content }}</div>
</body>
</html>