---
layout: default
title: disktree.net / panzerkunst
---
<div class='recent-posts'>
	{% for post in site.posts limit:10 %}
	<div class="post">
		<div class="content">
			<div class="title">{{ post.title }}</div>
			<div class="meta">
				<span>{{ post.date | date_to_string }}</span>
				<span> / </span>
				{% for t in post.tags %}
				<a href='http://www.google.com/search?q={{ t | escape }}+site:blog.disktree.net'>{{ t }}</a>
				{% if forloop.last == false %}, {% endif %}
				{% endfor %}
			</div>
			<div class="content">{{ post.content }}</div>
			
			
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'disktree'; // required: replace example with your forum shortname
			
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			
						
		</div>
	</div>
	{% endfor %}
</div>
<!-- 
				{% if hide_extended %}
				{% endif %}
 -->
 
 